<h1>No.<%= @task.id %> タスク</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>未/済</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.id %></td>
      <td><%= @task.status %></td>
      <td><%= @task.content %><td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_task_path(@task),class:"btn btn-default" %>
<%= link_to "削除する",@task,method: :delete, data: {confirm:"本当に削除してよいですか？"},class:"btn btn-danger" %>




