<h1>No.<%= @task.id %> タスク</h1>
<p><%= @task.content %></p>

<%= link_to "一覧に戻る", tasks_path %>
<%= link_to "編集する", edit_task_path(@task) %>
<%= link_to "削除する",@task,method: :delete, data: {confirm:"本当に削除してよいですか？"} %>