<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@taskpost) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'taskposts/taskposts', taskposts: @taskposts %>
    </div>
  </div>
  
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Task_Lists</h1>
    <%= link_to "新規メンバー登録はこちら",signup_path,class: "btn btn-lg btn-primary" %></div>
      
      <h6 class="text-center size-small">テスト用：アカウントはこちら</h6>
      <h6 class="text-center size-small">E-mail:test@test.com password:t</h6>
</div>

<% end %>